USE [master]
GO

IF DB_ID('bakery') IS NOT NULL
BEGIN
    ALTER DATABASE [bakery] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [bakery];
END
GO

CREATE DATABASE [bakery];
GO

USE [bakery];
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[SalesItem] DROP CONSTRAINT [FK_SalesItem_Sales]
GO
ALTER TABLE [dbo].[SalesItem] DROP CONSTRAINT [FK_SalesItem_Products]
GO
ALTER TABLE [dbo].[Sales] DROP CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_UnitOfMeasure]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Manufacturer]
GO
ALTER TABLE [dbo].[Ingredients] DROP CONSTRAINT [FK_Ingredients_Products]
GO
ALTER TABLE [dbo].[Ingredients] DROP CONSTRAINT [FK_Ingredients_Consumables]
GO
ALTER TABLE [dbo].[Consumables] DROP CONSTRAINT [FK_Consumables_UnitOfMeasure]
GO
ALTER TABLE [dbo].[ConsumableReplenishments] DROP CONSTRAINT [FK_ConsumableReplenishments_Consumables]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[Cart] DROP CONSTRAINT [FK_Cart_Products]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_users_is_deleted]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [DF_Users_CreatedAt]
GO
ALTER TABLE [dbo].[Sales] DROP CONSTRAINT [DF_Sales_CreatedAt]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF_products_is_deleted]
GO
ALTER TABLE [dbo].[Manufacturer] DROP CONSTRAINT [DF_manufacturer_is_deleted]
GO
ALTER TABLE [dbo].[Consumables] DROP CONSTRAINT [DF_consumables_is_deleted]
GO
ALTER TABLE [dbo].[ConsumableReplenishments] DROP CONSTRAINT [DF_ConsumableReplenishments_ReplenishmentAt]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UnitOfMeasure]') AND type in (N'U'))
DROP TABLE [dbo].[UnitOfMeasure]
GO
/****** Object:  Table [dbo].[SalesItem]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesItem]') AND type in (N'U'))
DROP TABLE [dbo].[SalesItem]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sales]') AND type in (N'U'))
DROP TABLE [dbo].[Sales]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Manufacturer]') AND type in (N'U'))
DROP TABLE [dbo].[Manufacturer]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ingredients]') AND type in (N'U'))
DROP TABLE [dbo].[Ingredients]
GO
/****** Object:  Table [dbo].[Consumables]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Consumables]') AND type in (N'U'))
DROP TABLE [dbo].[Consumables]
GO
/****** Object:  Table [dbo].[ConsumableReplenishments]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConsumableReplenishments]') AND type in (N'U'))
DROP TABLE [dbo].[ConsumableReplenishments]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11.05.2026 21:14:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cart]') AND type in (N'U'))
DROP TABLE [dbo].[Cart]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumableReplenishments]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumableReplenishments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumableId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ReplenishmentAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consumables]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinQuantity] [int] NOT NULL,
	[UOMId] [int] NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ConsumableId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[QuantityPerUnit] [int] NOT NULL,
	[UOMId] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[CaloriesPer100g] [int] NOT NULL,
	[Expiration] [int] NOT NULL,
	[TempStorage] [int] NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[imgURL] [nvarchar](255) NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesItem]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesItem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[QuantityItems] [int] NOT NULL,
	[PriceAtPurchase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.05.2026 21:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [Name]) VALUES (1, N'User')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (2, N'Seller')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON 

INSERT [dbo].[UnitOfMeasure] ([id], [Symbol]) VALUES (1, N'g')
INSERT [dbo].[UnitOfMeasure] ([id], [Symbol]) VALUES (2, N'ml')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [PasswordHash], [RoleId], [CreatedAt], [is_deleted]) VALUES (1046, N'admin', N'admin', N'admin@bakery.local', N'3dbcb9cb13f16f0ecc150069e0b2889393c30c994b186e301419abd099080068', 3, CAST(N'2026-05-03T12:24:11.1300000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ConsumableReplenishments] ADD  CONSTRAINT [DF_ConsumableReplenishments_ReplenishmentAt]  DEFAULT (getdate()) FOR [ReplenishmentAt]
GO
ALTER TABLE [dbo].[Consumables] ADD  CONSTRAINT [DF_consumables_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Manufacturer] ADD  CONSTRAINT [DF_manufacturer_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_products_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_users_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Products]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Users]
GO
ALTER TABLE [dbo].[ConsumableReplenishments]  WITH CHECK ADD  CONSTRAINT [FK_ConsumableReplenishments_Consumables] FOREIGN KEY([ConsumableId])
REFERENCES [dbo].[Consumables] ([id])
GO
ALTER TABLE [dbo].[ConsumableReplenishments] CHECK CONSTRAINT [FK_ConsumableReplenishments_Consumables]
GO
ALTER TABLE [dbo].[Consumables]  WITH CHECK ADD  CONSTRAINT [FK_Consumables_UnitOfMeasure] FOREIGN KEY([UOMId])
REFERENCES [dbo].[UnitOfMeasure] ([id])
GO
ALTER TABLE [dbo].[Consumables] CHECK CONSTRAINT [FK_Consumables_UnitOfMeasure]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Consumables] FOREIGN KEY([ConsumableId])
REFERENCES [dbo].[Consumables] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Consumables]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Manufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Manufacturer]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_UnitOfMeasure] FOREIGN KEY([UOMId])
REFERENCES [dbo].[UnitOfMeasure] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_UnitOfMeasure]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[SalesItem]  WITH CHECK ADD  CONSTRAINT [FK_SalesItem_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[SalesItem] CHECK CONSTRAINT [FK_SalesItem_Products]
GO
ALTER TABLE [dbo].[SalesItem]  WITH CHECK ADD  CONSTRAINT [FK_SalesItem_Sales] FOREIGN KEY([SalesId])
REFERENCES [dbo].[Sales] ([id])
GO
ALTER TABLE [dbo].[SalesItem] CHECK CONSTRAINT [FK_SalesItem_Sales]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
